@using Quki.Entity.Models
@model Menu
<div class="page-title-breadcrumbs" style="background-image:url(@Model.URL);
background-repeat:no-repeat !important;
background-size:100%;>
    <div class="breadcrumbs-container container">
        <div class="breadcrumbs_wrapper">
            @*<div class="page-title-container">               
                    <h1 class="text-center">@Model.Name</h1>
            </div>*@

            @*<div class="breadcrumbs-container text-center">
                <ul class="breadcrumbs primary-font">
                    <li>
                        <a asp-action="Index" asp-controller="Home">
                            <span>Ana Sayfa</span>
                        </a>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
</div>

