
@{
    ViewData["Title"] = "SubscriptionTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 0px;
    }
</style>

<div class="row" style="width:100%;background-image:url(https://Quki.com/web/img/background_abonelik_turleri.png);">
    <div class="col-md-10" style="margin:auto; margin-top: 150px; margin-bottom:50px;">


        <div class="col-md-5" style="background-color: white;border-radius: 40px; float:left; padding-bottom: 20px; margin-bottom: 50px;">
            <div class="page-title color">

                <div class="title title-icon">
                    <h4 style="text-align:center; margin-top: 20px; color:black">Quki Başlangıç</h4>
                    <b style="float: left; margin-left: 20px;color:black; font-size:16px; margin-top:20px">Tanışma Paketi</b>
                    <p class="description" style="margin-left: 20px; margin-top: 40px;color:black">
                        <br />
                        -Aylık 7 saate kadar ücretsiz dinleme hakkı
                        <br />
                        -Çevrimdışı dinleme
                        <br />
                        -Dilediğinde iptal hakkı
                        <br />
                        -2 kullanıcıya kadar giriş hakkı
                        <br />
                        -Taahütsüz
                    </p>
                    <br />

                    <p style="text-align: center !important; font-weight: bold;color:black; margin-top:20px">İlk 7 gün boyunca her gün 1 saat dinleme hakkı, sonrası</p>
                    <p style="text-align: center !important; font-weight: bold; font-size:22px; color:black">14,90 TL/ay</p>
                </div>
            </div>

            <div class="d-flex justify-content-star align-items-center m-bottom-20">
                <button type="submit" class="btn-submit btn button-main" style="border-radius:40px; margin-top:30px;width:100%">7 Günlük deneme sürecini başlatın </button>

            </div>
        </div>



        <div class="col-md-5" style="background-color: white;border-radius: 40px; float:right; padding-bottom: 20px;">
            <div class="page-title color">

                <div class="title title-icon">
                    <h4 style="text-align:center; margin-top: 20px;color:black">Quki Plus</h4>
                    <b style="float: left; margin-left: 20px;color:black; font-size:16px; margin-top:20px">Sınırsız Aylık Üyelik</b>

                    <p class="description" style="margin-left: 20px; margin-top: 40px;color:black">
                        <br />
                        -Aylık tüm içerikten yararlanma hakkı
                        <br />
                        -Çevrimdışı dinleme
                        <br />
                        -Dilediğinde iptal hakkı
                        <br />
                        -3 hesaba kadar giriş hakkı
                        <br />
                        -Taahütsüz
                    </p>
                    <br />
                    <br />
                    <p style="text-align:center; font-weight: bold; color: black; ">İlk 7 gün ücretsiz, sonrası</p>
                    <p style="text-align: center !important; font-weight: bold; font-size:22px; color:black">29,90 TL/ay</p>
                </div>
            </div>

            <div class="d-flex justify-content-star align-items-center m-bottom-20">
                <button type="submit" class="btn-submit btn button-main" style="border-radius:40px; margin-top:26px;width:100%">7 Günlük deneme sürecini başlatın </button>

            </div>
        </div>
    </div>



</div>


@*<div class="card card-success" style="border-radius:40px;width: 50%; margin: auto;">
        <div class="card-header" style="background-color:#08b6a7;color: white; border-radius:40px 40px 0px 0px;">
            <h5 class="card-title">Kod ile üyelik tanımlama</h5>
        </div>
        <div class="card-body">

            <div class="form-row">
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <span class="text-danger"></span>
                <div class="col-md-12">
                    <span class="input-wrapper w-100 ">
                        <input type="text" class="input-text spr-form-input col-md-6" style="border-radius:40px">
                    </span>
                </div>
            </div>
        </div>
    </div>*@



