@using Quki.Entity.ViewModel
@model List<VisitorCommentsModel>



<div class="comment pd-top-bottom">
    <div class="container">
        <div class="title d-flex justify-content-between align-items-end">
            <h5 class="title-h5">Yorumlar</h5>
        </div>

        <div id="review" class="tab-pane fade active show">
            <div class="spr-form d-block">
                <div class="user-comment">


                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="user-comment-item d-flex">

                                <div class="spr-review preview2">
                                    <div class="spr-review-header d-flex justify-content-between">
                                        <span class="spr-review-header-byline">
                                            <strong>@item.Name</strong>
                                            <span>@item.CreatedDate.ToShortDateString()</span>
                                        </span>
                                    </div>
                                    <div class="spr-review-content">
                                        <p class="spr-review-content-body">
                                            @item.Comment
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }




                </div>
            </div>

            
        </div>
    </div>
</div>



