body {
    background-image: url('../../viewimage/gokselustabackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.background-login {
    background-image: url('../../viewimage/gokselustabackground.png');
}
.box {
    height: 50px;
    width: 180px;
    background: #5F0000;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
    text-align: center;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
    font-family: "Arima Madurai", sans-serif;
    margin-top: -38px;
}

.box2 {
    height: 150px;
    width: 80px;
    background: #F9FAFA;
    border-style: solid;
    border-color: #E3A73D;
    border-radius: 10px;
    color: #4A2F00;
    text-align: center;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.box3 {
    height: 50px;
    width: 75px;
    background: #E3A73D;
    border-style: solid;
    border-color: #E3A73D;
    border-radius: 10px;
    color: #4A2F00;
    text-align: center;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.margin-top-logo {
    margin-top: 15%;
}.margin-top-login-menu {
    margin-top: 9%;
}
.margin-top-menu {
    margin-top: 5%;
}
@media screen and (min-width: 900px) {
    .article {
        background-image: url('../../viewimage/web-quki.png');
    }
}

.article {
    background-image: url('../../viewimage/dikey.jpg');
}

