body {
    font-family: 'Arima Madurai';
}

body {
    background-image: url('../../viewimage/background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.background-login {
    background-image: url('../../viewimage/background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box {
    height: 50px;
    width: 75px;
    background: #F9FAFA;
    border-style: solid;
    border-color: #E3A73D;
    border-radius: 10px;
    color: #4A2F00;
    text-align: center;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
   
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    
}


.box2 {
    height: 240px;
    width: 80px;
    border-radius: 50px;
    color: #4A2F00;
    text-align: center;
    padding: 7px;
    margin: 15px;
    font-family: "Arima Madurai";
    background-color: #ffffff;
}

.box3 {
    width: 100px;
    background: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50px;
    color: #483000;
    text-align: center;
    border-width: 2px;
    padding: 2px;
    margin: 5px;
    font-size: 25px;
    font-weight: 600;
    font-family: "Arima Madurai";
}
.box4 {
    height: 70px;
    width: 100px;
    background: #F9FAFA;
    border-radius: 50px;
    color: #4A2F00;
    text-align: center;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Arima Madurai";
}
.margin-top-logo {
    margin-top: 15%;
}
.margin-top-menu {
    margin-top: 18%;
}
.margin-left {
    margin-left: 20px;
    
}
.padding-text {
    padding: 16px;
    margin-left: -20px;
}
.imagecirculate {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin-top: -13%;
}

    .imagecirculate img {
        width: inherit;
        object-fit: cover;
        margin-top: -40%;
    }
.imagecirculate2 {
    display: inline-block;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 100%;
    margin-top: 2%;
}

    .imagecirculate2 img {
        width: inherit;
        object-fit: cover;
    }
.imagecirculate3 {
    display: inline-block;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 100%;
    margin-top: 2%;
}

    .imagecirculate3 img {
        width: inherit;
        object-fit: cover;
    }
@media screen and (min-width: 900px) {
    .article {
        background-image: url('../../viewimage/web-quki.png');
    } 
}
.article {
    background-image: url('../../viewimage/dikey.jpg');
}
