
body {
    background-image: url('../../viewimage/backgroundicsayfa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.imagecirculate {
        object-fit: cover;
    margin-top: 0px;
    width: 120px;
    height: 100px;
}
.imagecirculate3 {
    display: inline-block;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 100%;
    margin-top: 2%;
}
.background-login {
    background-image: url('../../viewimage/backgroundicsayfa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.imagecirculate img {
    object-fit: cover;
    margin-top: 1px;
    width: 120px;
    height: 100px;
    margin-left: -1px;
}
.box {
    height: 50px;
    width: 75px;
    background: #F9FAFA;
    border-style: solid;
    border-color: #E3A73D;
    border-radius: 10px;
    color: #881749;
    text-align: center;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
   
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    
}


.box2 {
    height: 120px;
    width: 382px;
    background: #F9FAFA;
    border-style: solid;
    border-color: #881749;
    border-radius: 10px;
    color: #881749;
    text-align: center;
    border-width: 1px;
    padding: 7px;
    margin: 5px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.box3 {
    height: 80px;
    width: 100px;
    background: black;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: #F9FAFA;
    text-align: center;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.box4 {
    height: 120px;
    width: 100px;
    background: #F9FAFA;
    border-style: solid;
    border-color: #E3A73D;
    border-radius: 10px;
    color: #4A2F00;
    text-align: center;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.margin-top-logo {
    margin-top: 15%;
}
.margin-top-menu {
    margin-top: 3%;
}
.margin-left {
    margin-left: 20px;
    
}
.padding-text {
    padding: 16px;
}
@media screen and (min-width: 900px) {
    .article {
        background-image: url('../../viewimage/web-quki.png');
    } 
}
.article {
    background-image: url('../../viewimage/dikey.jpg');
}
