.body {
    background-color: darkorange;
    background-image: url('../../viewimage/choc_0 – 1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.BoxInfo {
}

.sectionlocation {
    margin-top: 80px;
    margin-bottom: -30px;
}

.sectionlocation1 {
    margin-top: -30px;
}

.SectionPedagogueCommentImage {
    background-image: url('https://Quki.com/web/img/promotion-bg.jpg');
}

.SectionPedagogueCommentTitle {
    width: 100%;
    padding: 20px;
}

.SectionPedagogueCommentTitleLocation {
    color: #8b8b99 !important;
    font-size: 16px;
}

.marginResetPasword {
    margin-bottom: 50px;
}

.AdminLanguageLocation {
    padding-right: 20px;
    padding-top: 10px;
}

.modelcostum {
    max-width: 800px;
}

.Customh1Title {
    font-size: 3.0vw;
    color: #08b6a7;
    font-weight: 700;
}

.Customh1Unvisible {
    text-align: center;
}

.IconLocation {
    margin-top: 35px;
    margin-left: 8px;
    margin-right: 8px;
}

.ErrorMessage {
    color: red;
    text-align: center;
    font-size: 16px;
    margin: 30px;
}

.ErrorPageBackground {
    background-image: url(https://Quki.com/web/img/404.png);
    background-repeat: no-repeat !important;
    background-size: 100%;
    height: 920px;
}

.CampaignCodeEnterDiv {
    border-radius: 40px;
    width: 50%;
    margin: auto;
    background-color: white;
    pad
}

.Mobilicon {
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}

.Mobildiv {
    margin-top: 40px;
}

.ResponsiveButtonW {
    border-radius: 40px;
    width: 100%;
    border: 0px;
    background-color: white;
    color: #08b6a7;
    font-size: 1vw;
}

.ResponsiveButtonT {
    border-radius: 40px;
    width: 100%;
    border: 0px;
    background-color: #08b6a7;
    color: white;
    font-size: 1vw;
}

.ErrorStyle {
    margin-left: -5px;
    color: red;
}
.Mobilicon {
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}
.Mobildiv {
    margin-top: 40px;
}
.ResponsiveButtonW {
    border-radius: 40px;
    width: 100%;
    border: 0px;
    background-color: white;
    color: #08b6a7;
    font-size: 2vw;
}
.ResponsiveButtonT {
    border-radius: 40px;
    width: 100%;
    border: 0px;
    background-color: #08b6a7;
    color: white;
    font-size: 2vw;
}
.Mobilicon {
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}
.Mobildiv {
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    .CampaignCodeEnterDiv {
        width: 100%;
    }
}
