@{
    ViewData["Title"] = "AnaSayfa";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .div1 {
        padding: 40px;
    }

    @@media screen and (min-width: 1200px) {
        .img1 {
            width: 100%;
            content: url(/ViewImage/Group49.png);
        }

            .img1:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
    }

    @@media screen and (max-width: 1190px) {
        .img1 {
            width: 100%;
            content: url(/ViewImage/Group1.png);
        }

            .img1:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
    }

    @@media screen and (min-width: 1200px) {
        .img2 {
            width: 100%;
            content: url(/ViewImage/Group50.png);
        }

            .img2:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
    }

    @@media screen and (max-width: 1190px) {
        .img2 {
            width: 100%;
            content: url(/ViewImage/Group2.png);
        }

            .img2:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
    }

</style>




<div class="div1">
    <a href="https://westchocolate.com/anasayfa">
        <div class='col-md-12'>
            <img class="img1" />
        </div>
    </a>
    <a href="https://qukimeyhane.com/AnaSayfa">
        <div class='col-md-12'>
            <img class="img2" />
        </div>
    </a>
</div>

