
@{
    ViewData["Title"] = "AnaSayfa";
    Layout = "~/Views/Shared/_LayoutMobil.cshtml";
}

<div class="background-login" id="page-preloader">
    <div class="page-loading">
        <img src="~/viewimage/web-quki.png" />
    </div>
</div>

