
@{
    ViewData["Title"] = "AnaSayfa";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .img1 {    
        height: 900px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0, 100% 0);
        background-image: url(/ViewImage/Group49.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 60px;
        background-image: url(/ViewImage/Group50.png);
        background-size: contain;
        background-repeat: no-repeat;
}

.img2{
    height: 900px;
    bottom: 20%;
    right: 0;
    margin-top: -880px;
    margin-left: 100px;
} 

    .box {
        /* we need this to position the pseudo-element */
        position: relative;
        position: relative;
        padding: 60px;
        background-image: url(viewimage\\web-acılıs.png);
        background-position: center;
        background-size: cover;
        text-align: right;
        background-repeat: no-repeat;
        text-align: right;
    }
</style>
                       



<div class="row box ">

    <div class='img1'> </div>
    <div class='img2'> </div>
</div>

