@using Quki.Entity.DtoModels
@model List<SluDefModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ViewStart.cshtml";
}

<div class="row margin-top-logo">
    <div class="col-2"></div>
    <div class="col-8 h-25 d-inline-block" align="center" valign="center" style="padding:0px">
        <div>
          <img class="center" src="~/viewimage/chocolate logo.png" width="200" height="200" />
        </div>

    </div>
    <div class="col-2"></div>
</div>

<div class="row margin-top-login-menu">
    <div class="col-1"></div>
    <div id="menu" class="box col-10" style="font-size:20px" onclick="goSluDefControllerclick()">
        Menü
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="box col-10" style="font-size:20px" >
        Müşteri Memnuniyeti
    </div>
    <div class="col-1"></div>
</div>


