@using Quki.Entity.DtoModels
@model List<SluDefModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ViewStart.cshtml";
}
<style>
    @@font-face {
        font-family: AnotherShabby;
        src: url("~/Fonts/Anothershabby_pro_light_v2 trial.ttf");
    }
</style>
<div style="float:right; margin-top:-70px; margin-right: 20px;">
    <partial name="_CultureForQr" />
</div>
<div class="row margin-top-logo">
    <div class="col-2"></div>
    <div class="col-8 h-25 d-inline-block" align="center" valign="center" style="padding: 0px; margin-top: 60%; ">
        <div>
            <img class="lazy" class="center" src="~/viewimage/chocolate logo.png" width="200" height="200" loading="lazy" />
        </div>

    </div>
    <div class="col-2"></div>
</div>

<div class="row margin-top-login-menu">

    <div id="menu" class="box col-6" style="font-size: 20px; font-family: AnotherShabby; margin-left: 25.3%; " onclick="goSluDefControllerclick()">
        @MultiLanguageOmni.ReadResourceKey.GetString("QRMenu", "MultiLanguageOmni.Index")
    </div>

</div>



