@using Quki.Entity.DtoModels
@model List<SluDefModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ViewStart.cshtml";
}
<div class="col-md-12" style="margin-top: 80px;">

    <div style="float:right; margin-top:-70px; margin-right: 20px;">
        <partial name="_CultureForQr" />
    </div>
</div>
<div class="row margin-top-logo">
    <div class="col-12 h-25 d-inline-block" align="center" valign="center" style="padding:20px">
        <img src="~/viewimage/logo.png" style="width: 100%;
    margin-top: 3%;" />

    </div>
</div>

<div class="row margin-top-login-menu">
    <div class="col-3"></div>
    <div id="menu" class="box" style="font-size: 20px; margin-top: 16px; background-color: #F7f4f4 " onclick="goSluDefControllerclick()">
        @MultiLanguageOmni.ReadResourceKey.GetString("Menu", "MultiLanguageOmni.Index")
    </div>
    <div class="col-1"></div>
</div>

