@using Quki.Entity.DtoModels
@model List<SluDefModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ViewStart.cshtml";
}
<div style="float:right; margin-top:-40px; margin-right: 20px;">
    <partial name="_CultureForQr" />
</div>
<div class="row margin-top-logo">
    <div class="col-2"></div>
    <div class="col-8 h-25 d-inline-block" align="center" valign="center" style="padding:0px">
        <img src="~/viewimage/citirlogo.png" style="width: 100%;
    margin-top: 68%;" />   

    </div>
    <div class="col-2"></div>
</div>

<div class="row margin-top-login-menu">
    <div class="col-3"></div>
    <div id="menu" class="box" style="font-size:20px" onclick="goSluDefControllerclick()">
        @MultiLanguageOmni.ReadResourceKey.GetString("Menu", "MultiLanguageOmni.Index")
    </div>
    <div class="col-1"></div>
</div>

