@using Quki.Entity.DtoModels;
@model NewsAndAnnouncementModel
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color:black; padding:30px">
            <div class="modal-header" style="border:0px; padding:0px;">
                <h5 class="modal-title" id="exampleModalLongTitle">@Model.Contents</h5>
            </div>
            <div class="modal-body" >
                <div class="entry--img" style="text-align:center">
                    <a href="#" >
                        <img style="width: 100%; padding:60px 0px 60px 0px;" src="@Model.ImagePath" alt="entry image" />
                    </a>
                </div>
                <div class="entry--bio">
                    @Html.Raw(Model.Remark)
                </div>
            </div>
            <div class="modal-footer" style="text-align:center; border:0px;">
                <button type="button" class="btn btn-primary" style="background-color: white;color:black;" data-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div>
    </div>
</div>