@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions


@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    //var cultureList = locOptions.Value.SupportedUICultures.Select(s => new SelectListItem { Value = s.Name, Text = s.Name }).ToList();

    var cultureList = new List<SelectListItem>();
    cultureList.Add(new SelectListItem
    {
        Text = "TR",
        Value = "tr-TR"
    });
    cultureList.Add(new SelectListItem
    {
        Text = "DE",
        Value = "de-DE"
    });
    cultureList.Add(new SelectListItem
    {
        Text = "EN",
        Value = "en-US"
    });
}
<!-- Module Cart -->
    <form id="CultureForm" asp-controller="AnaSayfa" asp-action="CultureManegmant" method="post">
        @foreach (var item in cultureList)
        {
            <input class="dropdown-toggle  menu-item" style="border:unset; background-color:unset" type="submit" value="@item.Text" asp-action="CultureManegmant" asp-controller="AnaSayfa" asp-route-culture="@item.Value" name="submit">
        }
    </form>
<script type="text/javascript">
    function submitStudent() {
        var data = $("#CultureForm").serialize();
        console.log(data);
        alert(data);
        $.ajax({
            type: 'POST',
            url: "/AnaSayfa/CultureManegmant",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data
            success: function (result) {
                alert('Successfully received Data ');
                console.log(result);
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        })
    }

</script>
