@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions


@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    //var cultureList = locOptions.Value.SupportedUICultures.Select(s => new SelectListItem { Value = s.Name, Text = s.Name }).ToList();

    var cultureList = new List<SelectListItem>();
    cultureList.Add(new SelectListItem
            {
                Text = "عربي",
                Value = "de-DE"
            });
    cultureList.Add(new SelectListItem
            {
                Text = "English",
                Value = "en-US"
            });

    cultureList.Add(new SelectListItem
            {
                Text = "Türkçe",
                Value = "tr-TR"
            });
}
<style>
    @@font-face {
        font-family: AnotherShabby;
        src: url("~/Fonts/Anothershabby_pro_light_v2 trial.ttf");
    }
</style>
<div>
    <form class="form-control " asp-action="CultureManegmant" asp-controller="Product" method="post" style="border: 0px; font-family: AnotherShabby; padding: 0px; margin-top: 30px; width: 110px; background: transparent; margin-right: 20px; font-size: 20px; ">
        <select class="form-select languageChoseStyle" name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit();" style=" text-align: center; height: 40px; border: #E3A73D 2px solid; border-radius: 8px; width: 150px;"></select>
    </form>
</div>

