@using Microsoft.AspNetCore.Identity
@using Quki.Common
@using Quki.Entity.Models
<!DOCTYPE html>
<html lang="en">
@inject SignInManager<AppUser>  signInManager;
@*@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    MultiLanguageOmni.ReadResourceKey.cultureName = culture.RequestCulture.UICulture.Name;
    

}*@
<head>
    <!-- Document Meta
     ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Elegant Restaurant & Cafe Html5 Template by zytheme">
    <link href="~/webQuki/images/favicon/favicon.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href='http://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700,900%7CRuthie%7CAbril+Fatface' rel='stylesheet' type='text/css'>

    <!-- Stylesheets
    ============================================= -->
    <link href="~/webQuki/css/external.css" rel="stylesheet">
    <link href="~/webQuki/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/webQuki/css/style.css" rel="stylesheet">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/webQuki/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/webQuki/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/webQuki/revolution/css/navigation.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   
    <style>
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
            margin-bottom: 40px;
        }

        .my-float {
            margin-top: 16px;
        }
        .float2 {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            left: 40px;
            background-color: coral;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
            margin-bottom: 40px;
        }

        .my-float2 {
            margin-top: 16px;
        }
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="~/webQuki/js/html5shiv.js"></script>
      <script src="~/webQuki/js/respond.min.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Quki Meyhane</title>
</head>

<body>

    <div style="float:right; margin-top:-70px; margin-right: 20px;">
        <partial name="_Culture" />
    </div>
    <div class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        <header id="navbar-spy" class="header header-10 header-2 header-transparent header-centered header-fixed">
            
            @await Component.InvokeAsync("UpMenu")
        </header>
        <!-- Hero Section
        ====================================== -->



        @RenderBody()
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=05050477362" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
        <!-- footer#1
        ============================================= -->
        <footer id="footer" class="footer footer-1 text-center">
            <div class="divider--shape-dark"></div>
            <!-- Widget Section
            ============================================= -->
            <div class="footer--widget text--center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="footer--widget-content">
                                <h3>
                                    @MultiLanguageOmni.ReadResourceKey.GetString("FollowUs", "MultiLanguageOmni.Index")
                                </h3>
                                <div class="footer--social-icons">
                                    <a href="https://www.facebook.com/chocolatemarina/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://instagram.com/westchocolatemarina?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
                                </div>
                                <!-- .social-icons end -->
                            </div>
                        </div>
                        <!-- .col-md-4 end -->
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            
                        </div>
                        <!-- .col-md-3 end -->

                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="footer--widget-content">
                                <img class="mb-20" src="~/webQuki/images/logo/logo-light.png" alt="logo">
                            </div>
                        </div>
                        <!-- .col-md-3 end -->
                    </div>
                </div>
                <!-- .container end -->
            </div>
            <!-- .footer-widget end -->
            <!-- Copyrights
            ============================================= -->
            <div class="footer--copyright text-center">
                <div class="divider--shape-dark2"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="content">
                                Copyright © 2023
                                <span>Quki Meyhane.</span> All Rights Reserved. Design by
                                <span class="tranform-none">BMSPROJE</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .container end -->
            </div>
            <!-- .footer-copyright end -->
        </footer>
    </div>
    <!-- #wrapper end -->
    <!-- Footer Scripts
    ============================================= -->
    <script src="~/webQuki/js/jquery-2.2.4.min.js"></script>
    <script src="~/webQuki/js/plugins.js"></script>
    <script src="~/webQuki/js/functions.js"></script>
    <!-- RS5.0 Core JS Files -->
    <script src="~/webQuki/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script src="~/webQuki/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script src="~/webQuki/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/webQuki/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/webQuki/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/webQuki/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/webQuki/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/webQuki/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/webQuki/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/webQuki/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <!-- RS Configration JS Files -->
    <script src="~/webQuki/js/rsconfig.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
