@using Quki.Entity.Models
@model Document

    <section>
        
        <div class="section testimonials SectionPedagogueCommentImage">
            <div class="container">
                <div class="title text-center">
                    <div class="page-title color">
                        <div class="title title-icon">
                            <h2 class="title-h2">
                                @Model.Header2
                            </h2>
                            <p class="description">
                                @*Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel
                                    scelerisque nisl consectetur et.*@
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row m-top">
                    <div class="col-sm-12">
                        <div class="item clearfix d-flex align-items-center SectionPedagogueCommentTitle">
                            <div class="item-img hover-change">
                                <a href="/uzman-yorumu">
                                <img class="w-100" src="~/web/img/iconVizitorComment.png" alt="Quki-image" />
                                </a>
                            </div>
                            <div class="item-content SectionPedagogueCommentTitleLocation">
                                <a href="/uzman-yorumu">
                                    <span class="SectionPedagogueCommentTitleLocation">
                                        @Html.Raw(Model.Contents)
                                    </span>
                                </a>
                                <div class="user-info">
                                    <h4 class="user-name title-black">
                                    </h4>
                                    <span class="job"></span>
                                </div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

