<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name="AdoNetAppender" type="Log.Appenders.AdoNetAppender,Log">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection,System.Data.SqlClient,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
			<connectionStringName value="log4netCoreDb" />
			<connectionStringFile value="appsettings.json" />
			<commandText value="INSERT INTO LogForTransaction ([LogLevel],[Message],[Exception],[URL],[TerminalID],[IPBlock],[CreatedBy],[CreatedOn]) VALUES (@LogLevel, @Message, @Exception, @URL, @TerminalID, @IPBlock,@CreatedBy, @CreatedOn)" />
			<parameter>
				<parameterName value="@LogLevel" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Message" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Exception" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<parameter>
				<parameterName value="@URL" />
				<dbType value="String" />
				<size value="250" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%URL" />
					<converter>
						<name value="URL" />
						<type value="LogFunctionClasses.GetURL" />
					</converter>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@TerminalID" />
				<dbType value="String" />
				<size value="10" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%TerminalID" />
					<converter>
						<name value="TerminalID" />
						<type value="LogFunctionClasses.GetTerminalID" />
					</converter>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@IPBLock" />
				<dbType value="String" />
				<size value="150" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%IPBLock" />
					<converter>
						<name value="IPBLock" />
						<type value="LogFunctionClasses.GetIPAdress" />
					</converter>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@CreatedBy" />
				<dbType value="string" />
				<key value="Id" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%CreatedBy" />
					<converter>
						<name value="CreatedBy" />
						<type value="LogFunctionClasses.GetUserId" />
					</converter>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@CreatedOn" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
		</appender>
		<logger name="Log.AdoNetLogger">
			<level value="ALL"/>
			<appender-ref ref="AdoNetAppender"/>
		</logger>
	</log4net>
</configuration>
