@using Quki.Common
@using Quki.Entity.Models
@model List<Category>
<div class="sidebar-block categories-blog-menu">
    <div class="sub-title">
        <h1 class="title-black">@ViewBag.Title</h1>
    </div>

    <div class="block-content">
        <ul class="list-block">
            @foreach (var item in Model)
            {

                <li>
                    <a href="/yas-araligi/@Functions.ReplaceString(item.Name).Replace("_", "")" title="Nullam ullamcorper">
                        @item.Name
                        @*(ViewBag.KategoryID?.To*@
                        @*<span class="count float-right">(15)</span>*@
                    </a>
                </li>
            }

        </ul>
    </div>
</div>