@using Quki.Entity.Models
@model Document
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="~/webQuki/images/page-title/2.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Hikayemiz</div>
                        <div class="title--heading">
                            <h1>Quki Meyhane</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

<section id="banner7" class="banner banner-1 text-center pb-90">
   @Html.Raw(@Model.Contents); 
</section>
